*{
  margin: 0;
  padding: 0;
}
table {
  border: solid black 3px;
  float: left;
}
/* added width and height to our table data squares */
td {
  border: solid black 3px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.torpedoed {
  background-color: red;
}
.missed {
  background-color: blue;
  color: white;
}
.hiddenShips {
  /*background-color: yellow;*/
}
.hideShips{
  background-color: yellow;
}
#torps {
  float: right;
  margin-left: 5px;
  border: solid red 3px;
  margin-right: 70px;
  padding: 20px 40px 20px 10px;
}
#container {
  margin: 25px;
}
