table {
  border: solid black 3px;
}
/* added width and height to our table data squares */
td {
  border: solid black 3px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.torpedoed {
  background-color: red;
}
